# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [49]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
from sklearn.datasets import load_diabetes
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_diabetes.html)).

In [2]:
diabetesDF = load_diabetes()

Let's explore this variable by looking at the different attributes (keys) of `diabetes`. Note that the `load_diabetes` function does not return dataframes. It returns you a Python dictionary.

In [3]:
diabetesDF.keys()

dict_keys(['data', 'target', 'DESCR', 'feature_names', 'data_filename', 'target_filename'])

#### The next step is to read the description of the dataset. 

Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable. Read the data description carefully to fully understand what each column represents.

*Hint: If your output is ill-formatted by displaying linebreaks as `\n`, it means you are not using the `print` function.*

In [5]:
diabetesDF['DESCR']

'.. _diabetes_dataset:\n\nDiabetes dataset\n----------------\n\nTen baseline variables, age, sex, body mass index, average blood\npressure, and six blood serum measurements were obtained for each of n =\n442 diabetes patients, as well as the response of interest, a\nquantitative measure of disease progression one year after baseline.\n\n**Data Set Characteristics:**\n\n  :Number of Instances: 442\n\n  :Number of Attributes: First 10 columns are numeric predictive values\n\n  :Target: Column 11 is a quantitative measure of disease progression one year after baseline\n\n  :Attribute Information:\n      - Age\n      - Sex\n      - Body mass index\n      - Average blood pressure\n      - S1\n      - S2\n      - S3\n      - S4\n      - S5\n      - S6\n\nNote: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).\n\nSource URL:\nhttps://www4.stat.ncsu.edu/~boos/var.select/diabetes.html\n\nFor more information see:\nBradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.\n(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)'

#### Based on the data description, answer the following questions:

1. How many attributes are there in the data? What do they mean?

1. What is the relation between `diabetes['data']` and `diabetes['target']`?

1. How many records are there in the data?

 son 10 atributos que definen al dataframe
 target es lo que tratamos de predecir mientras que data es lo que nos ayuda a predecirlo
442

#### Now explore what are contained in the *data* portion as well as the *target* portion of `diabetes`. 

Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). Inspect the shape of `data` and `target`. Confirm they are consistent with the data description.

In [7]:
diabetesDF['data'].shape, diabetesDF['target'].shape

((442, 10), (442,))

# Challenge 2 - Perform Supervised Learning on the Dataset

The data have already been split to predictor (*data*) and response (*target*) variables. Given this information, we'll apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset.

#### Let's briefly revisit the linear regression formula:

```
y = β0 + β1X1 + β2X2 + ... + βnXn + ϵ
```

...where:

- X1-Xn: data 
- β0: intercept 
- β1-βn: coefficients 
- ϵ: error (cannot explained by model)
- y: target

Also take a look at the `sklearn.linear_model.LinearRegression` [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html).

#### In the cell below, import the `linear_model` class from `sklearn`.

#### Create a new instance of the linear regression model and assign the new instance to the variable `diabetes_model`.

In [8]:
dModel = LinearRegression()

Next, let's split the training and test data.

Define `diabetes_data_train`, `diabetes_target_train`, `diabetes_data_test`, and `diabetes_target_test`. Use the last 20 records for the test data and the rest for the training data.

In [9]:


X_train, X_test, y_train, y_test = train_test_split(diabetesDF['data'], diabetesDF['target'], test_size = 0.2)

Fit the training data and target to `diabetes_model`. Print the *intercept* and *coefficients* of the model.

In [10]:
dModel.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [11]:
dModel.intercept_

150.39295631817652

In [13]:
dModel.coef_

array([   5.13185934, -229.62824052,  539.95085331,  359.81404647,
       -850.83575969,  515.60202291,  134.60741266,  256.18922899,
        682.99303171,   85.38401649])

#### Inspecting the results

From the outputs you should have seen:

- The intercept is a float number.
- The coefficients are an array containing 10 float numbers.

This is the linear regression model fitted to your training dataset.

#### Using your fitted linear regression model, predict the *y* of `diabetes_data_test`.

In [14]:
dModel.predict(X_test)

array([210.39306549, 110.05879825, 187.56489836,  95.87058146,
       158.32555927, 182.41879   , 185.9102412 , 236.38296238,
        50.27580082, 126.45892672,  77.38548119, 117.43393865,
       192.56060033, 277.82755809, 174.31570353, 213.23514067,
       125.49285757, 134.98823488, 210.25367465, 129.22259641,
       206.75312431, 100.98975028, 170.49752567,  97.30157751,
       128.18864156, 118.68013694, 188.19814701,  55.71956587,
        62.29624617,  73.99209391, 122.18223616, 150.82983528,
        71.56090902, 157.47846414,  74.35985856,  73.75829473,
       149.85774311, 229.9580421 ,  44.27011843,  90.58058962,
       251.00669451,  89.59593263,  67.34117606, 142.02184186,
       157.59023314, 178.06553921, 129.47828033, 100.44563362,
       183.03636255, 100.02748216, 166.88698639, 132.97081662,
       158.77116118, 121.19731592, 220.53952621, 249.71596192,
       151.29369439, 118.07644366, 126.22898594,  82.32803772,
       211.01769739, 100.24523968, 259.30045838, 108.84322876,
       130.84810477, 101.75773829, 199.61592224,  83.64296654,
       265.34764534, 125.125597  , 259.65258892, 258.20378921,
       285.26227016, 159.32876954,  67.40626594, 145.2496275 ,
       174.09301267, 228.03599366,  43.33390479,  97.10980337,
        98.69664045, 151.41606193, 136.15611925,  62.00820516,
       183.78519803, 232.45428603, 163.06007873,  73.66659325,
       164.57646931])

#### Print your `diabetes_target_test` and compare with the prediction.

In [15]:
pred = pd.DataFrame({'Real': y_test, 'Predicted': dModel.predict(X_test)}).reset_index(drop=True)
pred.head(15)

     Real   Predicted
0   152.0  210.393065
1   102.0  110.058798
2   232.0  187.564898
3    53.0   95.870581
4   206.0  158.325559
5   200.0  182.418790
6    84.0  185.910241
7   258.0  236.382962
8    90.0   50.275801
9    44.0  126.458927
10   72.0   77.385481
11  150.0  117.433939
12  170.0  192.560600
13  243.0  277.827558
14   70.0  174.315704

In [16]:
print(f"Trainng set: {dModel.score(X_train, y_train)}")
print(f"Testing set: {dModel.score(X_test, y_test)}")

Trainng set: 0.5128216697797182
Testing set: 0.5211460601038873

#### Is `diabetes_target_test` exactly the same as the model prediction? Explain.

In [16]:
# no porque de lo contrario habria overfitting

# Bonus Challenge 1 - Hypothesis Testing with `statsmodels`

After generating the linear regression model from the dataset, you probably wonder: then what? What is the statistical way to know if my model is reliable or not?

Good question. We'll discuss that using Scikit-Learn in Challenge 5. But for now, let's use a fool-proof way by using the ([Linear Regression class of StatsModels](https://www.statsmodels.org/dev/regression.html)) which can also conduct linear regression analysis plus much more such as calcuating the F-score of the linear model as well as the standard errors and t-scores for each coefficient. The F-score and t-scores will tell you whether you can trust your linear model.

To understand the statistical meaning of conducting hypothesis testing (e.g. F-test, t-test) for slopes, read [this webpage](https://onlinecourses.science.psu.edu/stat501/node/297/) at your leisure time. We'll give you a brief overview next.

* The F-test of your linear model is to verify whether at least one of your coefficients is significantly different from zero. Translating that into the *null hypothesis* and *alternative hypothesis*, that is:

    ```
    H0 : β1 = β2 = ... = β10 = 0
    HA : At least one βj ≠ 0 (for j = 1, 2, ..., 10)
    ```

* The t-tests on each coefficient is to check whether the confidence interval for the variable contains zero. If the confidence interval contains zero, it means the null hypothesis for that variable is not rejected. In other words, this particular vaiable is not contributing to your linear model and you can remove it from your formula.

Read the documentations of [StatsModels Linear Regression](https://www.statsmodels.org/dev/regression.html) as well as its [`OLS` class](https://www.statsmodels.org/dev/generated/statsmodels.regression.linear_model.OLS.html) which stands for *ordinary least squares*.

#### In the next cell, analyze `diabetes_data_train` and `diabetes_target_train` with the linear regression model of `statsmodels`. Print the fit summary.

Your output should look like:

![statsmodels regression](../statsmodels.png)

In [17]:
# Your code here:

#### Interpreting hypothesis testing results

Answer the following questions in the cell below:

1. What is the F-score of your linear model and is the null hypothesis rejected?

1. Does any of the t-tests of the coefficients produce a confidence interval containing zero? What are they?

1. How will you modify your linear reguression model according to the test results above?

In [18]:
# Your answers here:

# Challenge 3 - Peform Supervised Learning on a Pandas Dataframe

Now that we have dealt with data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [17]:
autodf = pd.read_csv('../auto-mpg.csv')

Look at the first 5 rows using the `head()` function:

In [18]:
autodf.head()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [19]:
autodf.dtypes

mpg             float64
cylinders         int64
displacement    float64
horse_power     float64
weight            int64
acceleration    float64
model_year        int64
car_name         object
dtype: object

What is the newest model year and the oldest model year?

In [21]:
print(autodf['model_year'].min())
print(autodf['model_year'].max())

70
82

Check the dataset for missing values and remove all rows containing at least one missing value.

In [22]:
autodf.isna().sum()

mpg             0
cylinders       0
displacement    0
horse_power     6
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

In [24]:
autodf = autodf.dropna(axis=0)
autodf.isna().sum()

mpg             0
cylinders       0
displacement    0
horse_power     0
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [25]:
autodf['cylinders'].value_counts()

4    199
8    103
6     83
3      4
5      3
Name: cylinders, dtype: int64

In [26]:
len(autodf['cylinders'].value_counts())

5

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

*Hint: To separate data for training and test, use the `train_test_split` method we used in previous labs.*

In [42]:
autodf = autodf.drop(['car_name'], axis=1)
autodf

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year
0,18.0,8,307.0,130.0,3504,12.0,70
1,15.0,8,350.0,165.0,3693,11.5,70
2,18.0,8,318.0,150.0,3436,11.0,70
3,16.0,8,304.0,150.0,3433,12.0,70
4,17.0,8,302.0,140.0,3449,10.5,70
5,15.0,8,429.0,198.0,4341,10.0,70
6,14.0,8,454.0,220.0,4354,9.0,70
7,14.0,8,440.0,215.0,4312,8.5,70
8,14.0,8,455.0,225.0,4425,10.0,70
9,15.0,8,390.0,190.0,3850,8.5,70
10,15.0,8,383.0,170.0,3563,10.0,70
11,14.0,8,340.0,160.0,3609,8.0,70
12,15.0,8,400.0,150.0,3761,9.5,70
13,14.0,8,455.0,225.0,3086,10.0,70
14,24.0,4,113.0,95.0,2372,15.0,70
15,22.0,6,198.0,95.0,2833,15.5,70
16,18.0,6,199.0,97.0,2774,15.5,70
17,21.0,6,200.0,85.0,2587,16.0,70
18,27.0,4,97.0,88.0,2130,14.5,70
19,26.0,4,97.0,46.0,1835,20.5,70
20,25.0,4,110.0,87.0,2672,17.5,70
21,24.0,4,107.0,90.0,2430,14.5,70
22,25.0,4,104.0,95.0,2375,17.5,70
23,26.0,4,121.0,113.0,2234,12.5,70
24,21.0,6,199.0,90.0,2648,15.0,70
25,10.0,8,360.0,215.0,4615,14.0,70
26,10.0,8,307.0,200.0,4376,15.0,70
27,11.0,8,318.0,210.0,4382,13.5,70
28,9.0,8,304.0,193.0,4732,18.5,70
29,27.0,4,97.0,88.0,2130,14.5,71
...,...,...,...,...,...,...,...
367,28.0,4,112.0,88.0,2605,19.6,82
368,27.0,4,112.0,88.0,2640,18.6,82
369,34.0,4,112.0,88.0,2395,18.0,82
370,31.0,4,112.0,85.0,2575,16.2,82
371,29.0,4,135.0,84.0,2525,16.0,82
372,27.0,4,151.0,90.0,2735,18.0,82
373,24.0,4,140.0,92.0,2865,16.4,82
375,36.0,4,105.0,74.0,1980,15.3,82
376,37.0,4,91.0,68.0,2025,18.2,82
377,31.0,4,91.0,68.0,1970,17.6,82
378,38.0,4,105.0,63.0,2125,14.7,82
379,36.0,4,98.0,70.0,2125,17.3,82
380,36.0,4,120.0,88.0,2160,14.5,82
381,36.0,4,107.0,75.0,2205,14.5,82
382,34.0,4,108.0,70.0,2245,16.9,82
383,38.0,4,91.0,67.0,1965,15.0,82
384,32.0,4,91.0,67.0,1965,15.7,82
385,38.0,4,91.0,67.0,1995,16.2,82
386,25.0,6,181.0,110.0,2945,16.4,82
387,38.0,6,262.0,85.0,3015,17.0,82
388,26.0,4,156.0,92.0,2585,14.5,82
389,22.0,6,232.0,112.0,2835,14.7,82
390,32.0,4,144.0,96.0,2665,13.9,82
391,36.0,4,135.0,84.0,2370,13.0,82
392,27.0,4,151.0,90.0,2950,17.3,82
393,27.0,4,140.0,86.0,2790,15.6,82
394,44.0,4,97.0,52.0,2130,24.6,82
395,32.0,4,135.0,84.0,2295,11.6,82
396,28.0,4,120.0,79.0,2625,18.6,82
397,31.0,4,119.0,82.0,2720,19.4,82

In [39]:
autoM = LinearRegression()

In [43]:


X_train, X_test, y_train, y_test = train_test_split(autodf.drop(["mpg"], axis=1), autodf['mpg'], test_size = 0.2)

In [44]:
autoM.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [34]:
auto_model.predict(X_train)

array([31.21461813, 21.51826343, 19.2436121 , 24.30540906, 13.92374038,
       22.809079  , 18.02532604, 17.30272142, 24.71760424, 13.25576481,
       28.09847308, 24.54751062, 32.20735677, 26.25804923, 18.09612082,
       26.47690516, 21.68455262, 11.50850074, 22.972635  , 15.48751884,
       14.93277508, 26.41117133, 21.89799542, 24.06588353, 27.6765131 ,
       24.76536398, 22.3773503 , 34.48926637, 21.0080141 , 26.01113401,
       28.85809705, 30.64373513, 28.13997777, 24.08219748, 23.26835939,
       32.41509106, 26.53056142, 30.02237628, 11.95791378, 31.86315166,
       15.22978207, 22.94912471, 20.20203886, 15.49669293, 33.52278692,
       12.37561716, 24.65044849, 34.78917435, 21.83223999, 25.39213109,
       21.00785953, 33.20224545, 20.03980322, 12.97941592, 26.09097249,
       29.91227544,  9.91582073, 26.07736418, 11.21398017, 15.28749237,
       25.69166043, 32.78063604, 17.54981031, 12.02563078, 20.47138699,
       32.45872126, 27.21844357, 30.88781253, 29.2554248 , 22.39493869,
       33.50313877, 10.5942032 , 14.97793536, 22.29827239, 21.29541394,
       28.23468308, 28.13476522, 33.55252827, 35.40608425, 23.97666292,
       24.52541269, 34.5623137 , 26.48273651, 25.72090681, 23.34355748,
       27.32176249, 28.35168585, 15.06050698, 34.53950272, 28.81296774,
       15.19004047, 30.65167169, 15.22935368, 26.25099794,  9.75775732,
       11.91455128, 13.95108571, 32.4990698 , 25.96364397, 33.26659824,
       32.19934382, 25.5525219 ,  9.91777923, 13.64452439, 22.84238811,
       30.25913472,  7.79506843,  6.4530145 , 28.81743509, 17.88161135,
       11.31728006, 28.25539649, 27.84026448, 28.65599405, 16.14834187,
       22.00973033, 26.97162373, 29.89858463, 34.47485479, 33.53829024,
       13.92662515, 20.99033254, 32.4385077 ,  7.2074977 , 23.20080139,
       29.32427962, 25.96574801, 22.18826444, 21.59381556, 13.50502827,
       24.970909  , 18.24760852, 18.268177  , 18.38335232, 29.1660881 ,
       19.54722722, 25.68731181, 25.1697561 , 27.84290222, 30.64782167,
       20.00110464, 25.92497611, 20.25760593, 31.03711598, 11.89949578,
       16.99748556, 12.5370691 , 11.45987899, 32.87825619, 35.28477463,
       21.39572921, 22.87014595,  8.15853291, 31.16366714, 15.75195413,
       26.03163033, 29.65240064, 26.0796154 , 15.5283971 , 24.26836968,
       18.55708347, 31.08061388, 33.74284624, 12.78474152, 25.90560696,
       26.82599678,  9.93961862, 19.77632778, 31.21907306, 12.74965343,
       26.73832219, 20.61722217, 26.92285223, 29.20007089, 18.53016492,
       16.08679515, 30.31082884,  8.13228469, 21.46469747, 26.95924661,
       24.36032039, 29.92150916, 26.31238112, 32.01960597, 34.21260923,
       24.9687925 , 29.37959852, 26.98269879, 31.30183717, 15.09246176,
       21.97973857, 24.74257807, 25.32864986, 30.77564677, 28.77917841,
       18.29076569, 14.11022893, 30.1188147 , 27.61825426, 20.03242814,
        8.57736784, 31.03558435, 24.73203293, 28.91948051, 25.43306926,
       32.95961306,  9.16027619, 26.5478543 , 22.32199542, 34.5413005 ,
       21.34936037, 28.09574937, 12.68413174, 29.57276456, 32.04390793,
       31.05699268, 16.66697874, 26.56136783, 19.15852837, 29.09121584,
       23.26373933, 20.76708755, 24.58771654, 19.10052569, 10.74825008,
       21.11659685, 20.16829936, 32.99131139, 15.9950047 , 20.66054492,
       27.09198483, 10.83567605, 29.7225436 , 23.3805522 , 29.74130164,
       29.30516722, 30.71437529, 31.45007965, 26.83897752, 30.72433408,
       33.76706822, 30.69643472, 31.77053137, 20.5540075 , 11.69756227,
       11.59971965, 16.44163814, 33.96663502,  8.96739436, 26.02732902,
       28.56528949, 22.88947036, 34.68493468, 24.54568626, 13.86909874,
       31.75807699, 29.97678208, 21.8803138 , 32.61508531, 26.48800946,
       26.32238447, 20.3024505 , 10.59888507, 31.67424417, 32.26539511,
       25.5561083 , 10.32845599, 23.08545224, 26.33121536, 23.90798898,
       20.30469724, 32.30116544, 21.38391733, 14.77972833, 26.40978768,
       22.47749672, 11.8218597 , 25.53252471, 23.51860061, 23.76500254,
       30.07663677, 28.37846939, 24.67632817, 25.84523731, 31.76166493,
       20.72780144, 30.18467634, 33.00972876, 25.77913357, 21.45968604,
       25.31477067, 22.7267979 , 31.24404728, 31.24691201, 29.40983287,
       30.70534601, 25.30004218, 21.96339535, 28.98609128,  9.90092992,
        5.46449553, 11.60778341, 31.87026048, 28.58814806, 18.10622962,
       23.33210884, 14.49739074, 30.22551072, 19.44888463, 30.79759992,
       22.48720179,  9.43200908, 24.26496228])

In [45]:
pred = pd.DataFrame({'Real': y_test, 'Predicted': autoM.predict(X_test)}).reset_index(drop=True)
pred.head(15)

    Real  Predicted
0   14.0  11.179423
1   14.0  11.339124
2   19.0  17.773984
3   25.0  24.631791
4   34.5  31.163326
5    9.0   6.912604
6   15.0  13.441593
7   17.5  17.286941
8   18.5  20.881678
9   22.0  21.686579
10  26.0  28.311150
11  14.0  19.982417
12  20.5  23.712584
13  26.0  23.862196
14  10.0   9.277341

In [46]:
print(f"trainng set: {autoM.score(X_train, y_train)}")
print(f"testing set: {autoM.score(X_test, y_test)}")

trainng set: 0.811285131540876
testing set: 0.7974725924671356

Now we will processed and peform linear regression on this data to predict the mpg for each vehicle. 

#### In the next cell, create an instance of the linear regression model and call it `auto_model`. Fit `auto_model` with your training data.

# Challenge 4 - Evaluate the Model

In addition to evaluating your model with F-test and t-test, you can also use the *Coefficient of Determination* (a.k.a. *r squared score*). This method does not simply tell *yes* or *no* about the model fit but instead indicates how much variation can be explained by the model. Based on the r squared score, you can decide whether to improve your model in order to obtain a better fit.

You can learn about the r squared score [here](). Its formula is:

![R Squared](../r-squared.png)

...where:

* yi is an actual data point.
* ŷi is the corresponding data point on the estimated regression line.

By adding the squares of the difference between all yi-ŷi pairs, we have a measure called SSE (*error sum of squares*) which is an application of the r squared score to indicate the extent to which the estimated regression model is different from the actual data. And we attribute that difference to the random error that is unavoidable in the real world. Obviously, we want the SSE value to be as small as possible.

#### In the next cell, compute the predicted *y* based on `X_train` and call it `y_pred`. Then calcualte the r squared score between `y_pred` and `y_train` which indicates how well the estimated regression model fits the training data.

*Hint: r squared score can be calculated using `sklearn.metrics.r2_score` ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.r2_score.html)).*

In [50]:
y_pred = autoM.predict(X_train)

In [51]:
r2_score(y_pred, y_train)

0.7673877393750617

#### Our next step is to evaluate the model using the test data. 

We would like to ensure that our model is not overfitting the data. This means that our model was made to fit too closely to the training data by being overly complex. If a model is overfitted, it is not generalizable to data outside the training data. In that case, we need to reduce the complexity of the model by removing certain features (variables).

In the cell below, use the model to generate the predicted values for the test data and assign them to `y_test_pred`. Compute the r squared score of the predicted `y_test_pred` and the oberserved `y_test` data.

In [52]:
y_test_pred = autoM.predict(X_test)

In [53]:
r2_score(y_test_pred, y_test)

0.7585886960774529

In [55]:
print(f"trainng set: {autoM.score(X_train, y_train)}")
print(f"testing set: {autoM.score(X_test, y_test)}")

trainng set: 0.811285131540876
testing set: 0.7974725924671356

#### Explaining the results

The r squared scores of the training data and the test data are pretty close (0.8146 vs 0.7818). This means our model is not overfitted. However, there is still room to improve the model fit. Move on to the next challenge.

# Challenge 5 - Improve the Model Fit

While the most common way to improve the fit of a model is by using [regularization](https://datanice.github.io/machine-learning-101-what-is-regularization-interactive.html), there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [58]:


X_train09, X_test09, y_train09, y_test09 = train_test_split(autodf.drop(["mpg"], axis=1), autodf['mpg'], test_size = 0.1)

Initialize a new linear regression model. Name this model `auto_model09`. Fit the model to the new sample (training) data.

In [60]:
auto_model09 = LinearRegression()
auto_model09.fit(X_train09, y_train09)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

Compute the predicted values and r squared score for our new model and new sample data.

In [61]:
y_pred09 = auto_model09.predict(X_test09)

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [63]:
print(f"Trainng set: {autoM.score(X_train09, y_train09)}")
print(f"Testing set: {autoM.score(X_test09, y_test09)}")

Trainng set: 0.8060435176370936
Testing set: 0.8257566564975484

In [57]:
## Si existe una minima mejora en el modelo

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [60]:
rfe_model = RFE(auto_model, n_features_to_select=3)

Fit the model and print the ranking

In [63]:
selector = rfe_model.fit(auto.iloc[:, auto.columns != 'mpg'], auto['mpg'])

In [64]:
selector.ranking_

array([1, 2, 4, 3, 1, 1])

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [51]:
# Your code here:

#### Conclusion

You may obtain the impression from this lab that without knowing statistical methods in depth, it is difficult to make major progress in machine learning. That is correct. If you are motivated to become a data scientist, statistics is the subject you must be proficient in and there is no shortcut. 

Completing these labs is not likely to make you a data scientist. But you will have a good sense about what are there in machine learning and what are good for you. In your future career, you can choose one of the three tracks:

* Data scientists who need to be proficient in statistical methods.

* Data engineers who need to be good at programming.

* Data integration specialists who are business or content experts but also understand data and programming. This cross-disciplinary track brings together data, technology, and business and will be in high demands in the next decade.